page-login {
    .scroll-content {
        height: 120vh;
    }
    ion-grid {
        height: 100%;
        justify-content: space-around;
    }
    ion-item.item {
        margin: 15px 0;
    }
    ion-row {
        p {
            text-transform: uppercase;
            font-size: 1.2em;
        }
        img {
            margin-top: 50px;
        }
    }
    ion-row.sign-up.row {
        margin-top: 0px;
    }
    .bg-img {
        background: url('/assets/img/thumbnail_landingbw.jpg');
        background-position: 50% 50%;
        background-color: #5c6164;
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
        height: 100%;
        padding: 0;
        border: 0;
        text-align: left;
    }
    .logo {
        margin: 0 auto;
        height: 150px;
        text-align: center;
    }
    .login-details {
        margin: 0 40px;
        
    }
    .signup-div {
        display: block;
        width: 310px;
        margin: 0 auto;
        p { 
            float: left;
        }
    }
    .signup-btn {
        float: right;
        background: #fdb614;
        color: #ffffff;
        border-radius: 0;
    }
    button {
        width: 100%;
        &.sign-in {
            border-radius: 0;
            background: #cccccc;
            color: black;
        }
    }
}

