<ion-header class="main-header">
    <ion-navbar>
      <ion-title>
          <img src="/assets/img/logo3.png" class="menu-logo" >
      </ion-title>
    </ion-navbar>
  </ion-header>
<ion-content>
<ion-grid>
    <div class="section-1">
        <ion-row>
          <ion-col>
            <!-- <h1 class="page-title">Job Details</h1> -->
            <h4 class="title">{{job.title}}</h4>

            <h4>Start Date</h4>
            <p>{{job.starttime}}</p>
      
            <h4>End Date</h4>
            <p>{{job.endtime}}</p>

            <h4>Rate of Pay</h4>
            <p>${{job.salary}}</p>

            <h4>What You Need to Bring</h4>
            <p>Laptop</p>
      
            <h4>Job Location</h4>
            <p>44 Shirley Ave, West Chicago, IL, 60185</p>
          </ion-col>
        </ion-row>
        </div>
        <div class="section-2">
          <div #map id="map"></div>
        </div>
        <div class="section-3">
         <ion-row>
           <ion-col class="description">
              <h4>Description</h4>
              <p class="short-description">
                {{job.description}}
              </p>
           </ion-col>
         </ion-row>
        </div>
        <div class="section-4">
          <ion-row>
            <ion-col class="download-btn">
              <button type="button" class="btn">
                  <ion-icon ios="ios-download-outline" md="md-download" class="download"></ion-icon>
                Download
              </button>
            </ion-col>
          </ion-row>
        </div>
</ion-grid>
</ion-content>


