<ion-header class="main-header">
  <div class="x-icon" (click)="closeModal()" name="close">
    <div></div>
  </div>
</ion-header>



<ion-content class="modal-page" padding>
  <ion-grid class="modal-bg">
    <ion-row>
      <ion-col col-12>
          <h2>You Have a Job Offer!</h2>
          <div [(ngModel)]="offer" ngDefaultControl>
          <h4 class="job-title" *ngFor="let offer of offers" >{{ offer.title }} </h4>
          <h4 class="job-title">Budget Manager</h4>
          </div>
      </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
        <h4>Start Date</h4>
        <p>20.09.2017</p>

        <h4>End Date</h4>
        <p>20.11.2017</p>

        <h4>Job Location</h4>
        <p>44 Shirley Ave, West Chicago, IL, 60185</p>

        <h4>Description</h4>
        <p id="short-description"> 
          We are looking for a responsible Budget Manager to develop our company's budget 
          and oversee its implementation. You will also review budget proposals and prepare 
          financial documents and reports...
        </p>
        <p id="long-description">
            We are looking for a responsible Budget Manager to develop our company's budget 
            and oversee its implementation. You will also review budget proposals and prepare 
            financial documents and reports. Our ideal candidate holds a degree in Accounting or 
            Finance and is familiar with legal regulations of accounting and budgeting. You 
            should combine excellent numeracy skills with the ability to analyze and present complex 
            data. To be successful in this role, you should be able to use critical thinking to create 
            financial forecasts and make budgeting decisions. Ultimately, you should plan, evaluate, 
            design and implement our company’s budget, ensuring business growth and compliance with the law.
          </p>
        <a id="details" (click)="showDetails()">Click to see Details</a>
    </ion-col>
  </ion-row>
  <ion-row class="options">
    <ion-col col-4>
      <div class="icon">
        <ion-icon name="checkmark" (click)="openJobDescription();" class="check"></ion-icon>
      </div>
    </ion-col>
    <ion-col col-4>
      <div class="icon">
        <ion-icon name="close" class="close" (click)="closeModal();"></ion-icon>
      </div>
    </ion-col>
    <ion-col col-4>
      <div class="icon">
        <ion-icon name="star" class="star"></ion-icon>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
