/* font styling */
@font-face{
    font-family: 'Assistant', sans-serif;
    src: url('../assets/fonts/assistant.woff2') format('woff2');
}

img.topbar-logo {
    height: 50px;
    line-height: 59px;
}

page-dashboard {
    ion-navbar {
        .hamburger-menu {
            color: #404040;
        }
        ion-icon {
            &.myModal {
                float: right;
                padding: 10px;
                font-size: 3.3rem;
                color: #fdb614;
                text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
            }
        }
        .categories-button {
            float: right;
        }
        .notifications-button {
            float: right;
            padding-left: 7px;
            padding-right: 15px;
            padding-top: 11px;
            padding-bottom: 11px;
        }
        .categories-button {
            padding-right: 7px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 15px;
        }
        .topbar-logo {
            height: 49px;
            line-height: 49px;
            padding-top: 5px;
            padding-bottom: 4px;
        }
    }
    .toolbar-background-ios {
        background: transparent;
    }
    .bar-button-default-ios {
        color: #404040;
    }
    .toolbar-background-md {
        background: transparent;
    }
    #map {
        position: absolute;
        z-index: -1;
        max-width: none;
    }
    .gm-style-iw {
        padding: 5px;
        border-radius: 0px;
        border: 0px;
        font-weight: 300;
        font-size: 13px;
        overflow: hidden;
        background-color: #101010;
        opacity: 0;
        transition: opacity 0.4s ease;
    }
    div#job-preview-header.fade-in,
    div#job-preview-content.fade-in {
        transition: opacity 0.4s ease;
    }
    .gm-style-iw.fade-in,
    div#job-preview-header.fade-in,
    div#job-preview-content.fade-in {
        opacity: 1;
    }
    // Fix for google maps infowindow opacity on start
    .gm-style>div>div>div>div>div>div,
    div#job-preview-header,
    div#job-preview-content {
        opacity: 0;
        transition: opacity 0.4s ease;
    }
    #iw-container {
        margin-bottom: 10px;
    }
    .iw-title {
        font-family: 'Assistant', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #ffffff;
        margin: 0;
        border-radius: 2px 2px 0 0;
    }
    #iw-container .iw-content {
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        margin-right: 1px;
        padding: 15px 5px 20px 15px;
        max-height: 140px;
        overflow-y: auto;
        overflow-x: hidden;
        color: #404040;
    }
    .iw-content img {
        float: right;
        margin: 0 5px 5px 10px;	
    }
    .iw-subTitle {
        font-size: 16px;
        font-weight: 700;
        padding: 5px 0;
        color: #404040;
    }
    .description {
        padding: 5px;
        width: 100%;
    }
    .iw-bottom-gradient {
        position: absolute;
        width: 326px;
        height: 25px;
        bottom: 10px;
        right: 18px;
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    }

    /* Job preview styling */
    #job-preview-container {
        height: 200px;
        width: 100%;
        display: block;
        position: absolute;
        bottom: -200px;
        left: 0px;
        background-color: white;
        border-top: 1px solid #E5E5E4;
        transition: bottom 0.4s ease;
    }
    #job-preview-container.active {
        bottom: 0px;
    }
    #job-preview-header {
        display: block;
        #job-preview-heading {
            padding-top: 10px;
            padding-bottom: 5px;
            padding-left: 20px;
            padding-right: 20px;
            font-weight: 400;
        }
    }
    #job-preview-content {
        display: block;
        height: 106px;
        overflow: hidden;
        #job-preview-description {
            padding-bottom: 5px;
            padding-left: 20px;
            padding-right: 20px;
            height: 100%;
            width: 100%;
            overflow: hidden;
            position: relative;
            line-height: 1.4em;
            max-height: 99px;
        }
        /* #job-preview-description:before {
            content: '...';
            position: absolute;
            right: 0;
            bottom: 0;
        } */
    }
    div#job-preview-footer {
        height: 62px;
        overflow: hidden;
        padding-left: 20px;
        padding-right: 20px;
        border-top: 1px solid #E5E5E4;
        padding-top: 8px;
        .col {
            padding: 0px;
        }
        .footer-btn-container {
            .btn-icon {
                text-align: center;
                color: #86888b;
            }
            .btn-text {
                text-align: center;
            }
        }
    }
}



