<ion-content class="no-scroll">
    <div #map id="map"></div>
    <div id="job-preview-container">

        <div id="job-preview-header">
          <div id="job-preview-heading">
          </div>
        </div>
        <div id="job-preview-content">
          <div id="job-preview-description">
            
          </div>
        </div>
        <div id="job-preview-footer">
          <ion-row class="row">
            <ion-col class="col" col-sm-4="">
              <div id="btn-details" (click)="openJobDetails()" class="footer-btn-container">
                <div class="btn-icon">
                  <i class="material-icons">work</i>
                </div>
                <div class="btn-text">
                  Details
                </div>
              </div>
            </ion-col>            
            <ion-col class="col" col-sm-4="">
              <div id="btn-logs" (click)="openWorkLogs()" class="footer-btn-container">
                <div class="btn-icon">
                  <i class="material-icons">assignment</i>
                </div>
                <div class="btn-text">
                  Logs
                </div>
              </div>
            </ion-col>
            <ion-col class="col" col-sm-4="">
              <div id="btn-navigate" (click)="navigateToJob()" class="footer-btn-container">
                <div class="btn-icon">
                  <i class="material-icons">navigation</i>
                </div>
                <div class="btn-text">
                  Navigate
                </div>
              </div>
            </ion-col>
          </ion-row>
        </div>

    </div>
    <ion-navbar class="homepage">
        <button ion-button menuToggle>
          <div href="#sidebar" class="menu-link sidebar-menu-toggle">
            <input class="checkbox-toggle toggle-button" type="checkbox">
            <div class="hamburger">
              <div></div>
            </div>
          </div>
          <!-- <ion-icon name="menu" class="hamburger-menu"></ion-icon> -->
        </button>
        <!-- <img class="topbar-logo" src="/assets/img/logo3.png"> -->
        <!-- <ion-icon name="notifications" class="myModal" (click)="openModal()"></ion-icon> -->
        <!-- <div class="pulse" (click)="openModal()"></div> -->
        <div class="notifications-button" (click)="openNotifications()"><i class="material-icons">announcement</i></div>
        <div class="categories-button" (click)="openJobSettings()"><i class="material-icons">account_box</i></div>
    </ion-navbar>
  <ion-footer>
      <ion-tabs>
          <ion-tab [root]="tab1Root"></ion-tab>
          <ion-tab [root]="tab2Root"></ion-tab>
          <ion-tab [root]="tab3Root"></ion-tab>
        </ion-tabs>
  </ion-footer>
</ion-content>

