<ion-header class="main-header">
  <div class="x-icon" (click)="closeJobSettings()" name="close">
    <div></div>
  </div>
</ion-header>



<ion-content class="job-settings-page" padding>
  <ion-row>
      <ion-col col-12>
          <h2>Job Categories</h2>
      </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
        <ion-list>
        <ion-item>
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <ion-item class="field">
              <ion-input floating type="text" ng-model="input.filterJobCategory" placeholder="Search"></ion-input>
            </ion-item>
          </label>
        </ion-item>
          <ion-item class="item-avatar" ng-repeat="jobCategory in jobCategories | filter:input.filterJobCategory">
            <!-- <img src="{{user.avatar}}">           
            <h2>{{user.name}}</h2>
            <p>{{user.fullname}}
              {{user.email}}</p>   -->     
          </ion-item>        
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row class="options">
    <ion-col col-4>
      <div class="icon">
        <!-- <ion-icon name="checkmark" (click)="openJobDescription();" class="check"></ion-icon> -->
      </div>
    </ion-col>
    <ion-col col-4>
      <div class="icon">
        <!-- <ion-icon name="close" class="close" (click)="closeModal();"></ion-icon> -->
      </div>
    </ion-col>
    <ion-col col-4>
      <div class="icon">
        <!-- <ion-icon name="star" class="star"></ion-icon> -->
      </div>
    </ion-col>
  </ion-row>
</ion-content>
