<ion-header class="main-header">
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <!-- <div class="notifications-button" (click)="openNotifications()"><i class="material-icons">announcement</i></div> -->
      <ion-title>
          <h4>Matching Jobs</h4>
      </ion-title>
    </ion-navbar>
  </ion-header>
    <ion-content>
        <ion-card>
            <img src="/assets/img/map-madison.png">
          
            <ion-item>
              <h2>Budget Manager</h2>
              <p>Star Industries</p>
            </ion-item>
          
            <ion-item>
              <h2>Geotechnical Engineering Firm</h2>
              <p>44 Shirley Ave, West Chicago, IL, 60185</p>
            </ion-item>
          
            <ion-item>
              <p item-left>22/12/2017</p>
              <button ion-button icon-left clear item-end>
                <ion-icon name="navigate" ></ion-icon>
                <span (click)="clickJobDetailsPage()">View</span>
              </button>
            </ion-item>
        </ion-card>

        <ion-card>
            <img src="/assets/img/map-madison.png">

          
            <ion-item>
              <h2>Project Manager</h2>
              <p>EHD Consulting</p>
            </ion-item>
          
            <ion-item>
              <h2>Civil Engineering Firm</h2>
              <p>1202 Charles St, West Chicago, IL, 60185</p>
            </ion-item>
          
            <ion-item>
              <p item-left>27/12/2017</p>
              <button ion-button icon-left clear item-end>
                <ion-icon name="navigate"></ion-icon>
                Start
              </button>
            </ion-item>
        </ion-card> 
</ion-content>