/* Circle pulse notification */

.pulse {
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ea4335;
	cursor: pointer;
	-webkit-box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
	box-shadow: 0 0 0 rgb(129, 20, 16);
	-webkit-animation: pulse 2s infinite;
	animation: pulse 2s infinite;
	float: right;
    margin-left: 15px;
    margin-right: 15px;
}
.pulse:hover {
	animation: none;
}

@-webkit-keyframes pulse {
	0% {
	-webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
	}
	70% {
	  -webkit-box-shadow: 0 0 0 15px rgba(204,169,44, 0);
	}
	100% {
	  -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	}
}
@keyframes pulse {
	0% {
	-moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
	box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
	}
	70% {
	  -moz-box-shadow: 0 0 0 15px rgba(204,169,44, 0);
	  box-shadow: 0 0 0 15px rgba(204,169,44, 0);
	}
	100% {
	  -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	  box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	}
}