/* font styling */
@font-face{
    font-family: 'Assistant', sans-serif;
    src: url('../assets/fonts/assistant.woff2') format('woff2');
}
     
*{
    font-family: 'Assistant', sans-serif;
    font-weight: lighter;
}
h1, h2, h3, h4, h5 {
    font-weight: 300!important;
}
.text-input {
    font-size: .8em;
}
a {
    color: #fdb614;
    text-decoration: none;
}
// google map styling 
#map {
    // height: 100%;
    height: 100%;
    width: 100%;
    overflow: auto;
    position: absolute;
    z-index: -1;
}
.list-ios > .item-block:first-child {
    border-top: 0;
}

/* android platform styling - md */
ion-content {
    &.side-menu {
        .item-md {
            background: #FFF;
        }
        .content.content-md {
            background: #FFF;
            color: #fff;
        }
        .scroll-content {
            background: #101010;
        }
        .list-md .item-block .item-inner {
            color: #2a2a2a;
            border: none;
        }
    }
    .list-md {
        margin: 0px;
    }
    .list-md .item-block .item-inner {
        border: 0;
    }
}
ion-header {
    .bar-button-menutoggle-md ion-icon {
        font-size: 3.5rem;
    }
    .menu-logo {
        margin: 0 auto;
        height: 50px;
        margin-top: 6px;
        margin-bottom: 6px;
    }
    .toolbar-md {
        padding: 0;
    }
    .toolbar-background-md {
        background: #FFF;
        color: #fff;
    }
    .toolbar-title-md {
        color: #fff;
        display: flex;
    }
    .toolbar-title.toolbar-title-ios h4 {
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 62px;
    }
}
.bar-button-default-md {
    color: #cccccc;
}
// transparent toolbar for map overlay 
.toolbar-background-md {
    background: transparent;
}
.toolbar-background-ios {
    background: transparent;
}
/* ios platform styling */
ion-content {
    &.side-menu {
        .item-ios {
            background: #101010;
        }
        .content.content-ios {
            background: #101010;
            color: #fff;
        }
        .list-ios .item-block .item-inner {
            color: #fff;
            border: none;
        }
        .list-ios > .item-block:first-child {
            border: none;
        }
        .list-ios > .item-block:last-child {
            border: none;
        }
    }
    .list-ios {
        margin: 0px;
    }
    .list-ios .item-block .item-inner {
        border: 0;
    }
}
ion-header {
    .bar-button-menutoggle-ios ion-icon {
        font-size: 3.5rem;
    }
    .toolbar {
        padding: 0;
        min-height: 62px;
        .toolbar-title {
            min-height: 62px;
        }
        .toolbar-background {
            border: 0px;
        }
    }
    .toolbar-background-ios {
        background: #101010;
        color: #fff;
    }
}
.toolbar {
    .bar-button-ios {
        height: 53px;
    }
}
.main-header {
    .bar-button-default-ios {
        color: #000000;
    }
    .toolbar-background.toolbar-background-ios {
        background: white;
        border-bottom: 1px solid #E5E5E4;
    }
}
.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
    color: #000000;
}
/* icon */
ion-icon.myModal.icon.icon-md.ion-md-notifications {
    float: right;
    padding: 10px;
    font-size: 3.3rem;
    color: #fdb614;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
ion-icon.myModal.icon.icon-ios.ion-ios-notifications {
    float: right;
    padding: 10px;
    font-size: 3.3rem;
    color: #fdb614;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    margin-right: 6px;
}

/* log hours on work log page */
ion-icon.myModal.icon.icon-md.ion-md-add {
    float: right;
    padding: 10px;
    font-size: 3.3rem;
    color: #000;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
ion-icon.myModal.icon.icon-ios.ion-ios-add,
.bar-button-ios[icon-only] ion-icon {
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 3.9rem;
    font-weight: bold;
    color: #000;
    text-shadow: none;
}
span.back-button-text.back-button-text-ios, span.back-button-text.back-button-text-md {
    display: none;
}
button.back-button {
    padding-left: 17px;
    padding-right: 17px;
}

.ios ion-nav > .ion-page > ion-content.statusbar-padding:first-child .scroll-content, .ios ion-nav > .ion-page > ion-header > ion-content.statusbar-padding:first-child .scroll-content, .ios ion-tab > .ion-page > ion-content.statusbar-padding:first-child .scroll-content, .ios ion-tab > .ion-page > ion-header > ion-content.statusbar-padding:first-child .scroll-content, .ios ion-tabs > .ion-page.tab-subpage > ion-header > ion-content.statusbar-padding:first-child .scroll-content, .ios ion-menu > .menu-inner > ion-content.statusbar-padding:first-child .scroll-content, .ios ion-menu > .menu-inner > ion-header > ion-content.statusbar-padding:first-child .scroll-content {
    padding-top: 0px;
}

/* Hamburger menu animations */

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-menu {
    display: block;
    position: absolute;
    top: 0px;
    right: 50px;
    z-index: 9999999999;
}

.checkbox-toggle {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-content-open .hamburger>div {
    transform: rotate(135deg);
}

.menu-content-open .hamburger>div:before,
.menu-content-open .hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
}

.menu-content-open .hamburger>div:after {
    opacity: 0;
}

.checkbox-toggle.active~.menu {
    pointer-events: auto;
    visibility: visible;
}

.checkbox-toggle.active~.menu>div {
    transform: scale(1);
    transition-duration: .75s;
}

.checkbox-toggle.active~.menu>div>div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}

.hamburger {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 50px;
    height: 50px;
    padding: 1em 0.8em;
    /*background: rgba(33, 150, 243, 0.75);*/
    border-radius: 0 0.12em 0.12em 0;
    cursor: pointer;
    transition: box-shadow 0.4s ease;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger>div {
    position: relative;
    flex: none;
    width: 100%;
    height: 3px;
    background: #404040;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger>div:before,
.hamburger>div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -8px;
    left: 0;
    width: 100%;
    height: 3px;
    background: inherit;
    transition: all 0.4s ease;
}

.hamburger>div:after {
    top: 8px;
}

/* custom X icon from hamburger */

.x-icon {
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 1;
    width: 45px;
    height: 45px;
    padding: 1em 0.8em;
    /*background: rgba(33, 150, 243, 0.75);*/
    border-radius: 0 0.12em 0.12em 0;
    cursor: pointer;
    transition: box-shadow 0.4s ease;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
    margin-right: 6px;
    transition: opacity 0.4s ease;
    opacity: 0;
}

.infowindow-x {
    width: 100%;
    margin: 0px;
    height: 100%;
    padding: 0px;
}

.infowindow-x > div {
    background: #FFF;
}

.show-page .x-icon {
    opacity: 1;
}

.x-icon>div {
    position: relative;
    flex: none;
    width: 100%;
    height: 3px;
    background: #404040;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(135deg);
}

.infowindow-x>div {
    background: #FFF;
    height: 2px;
}

.x-icon>div:before {
    background: #404040;    
}

.x-icon>div:before,
.x-icon>div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -8px;
    left: 0;
    width: 100%;
    height: 3px;
    background: inherit;
    transition: all 0.4s ease;
    top: 0;
    transform: rotate(90deg);
}

.x-icon>div:after {
    top: 8px;
    opacity: 0;
}

.infowindow-x>div:before,
.infowindow-x>div:after {
    background: #FFF;
    height: 2px;
}

/* Scroll disabler for containers */

.no-scroll .scroll-content {
    overflow: hidden;
}
