<ion-menu [content]="content" [swipeEnabled]="false">
  <ion-header>
    <ion-toolbar class="main-toolbar">
      <ion-title>
        <img src="/assets/img/logo4.png" class="menu-logo" >
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="side-menu">
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>