<ion-header class="main-header">
  <div class="x-icon" (click)="closeNotifications()" name="close">
    <div></div>
  </div>
</ion-header>



<ion-content class="notifications-page" padding>
  <ion-row>
      <ion-col col-12>
          <h2>Notifications</h2>
      </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
        <ion-list>
          <ion-list-header>
            Job Offers
          </ion-list-header>

          <button ion-item text-wrap (click)="buttonClick()">
            Button Item
          </button>

          <!-- <ion-item-divider>
            Item Divider
          </ion-item-divider> -->

          <!-- <button ion-item detail-none (click)="buttonClick()">
            Button Item with no Detail Arrow
          </button> -->

          <!-- <a ion-item href="https://www.ionicframework.com">
            Anchor Item
          </a>

          <ion-item no-lines>
            Item with no border
          </ion-item>

          <ion-item text-wrap>
            Multiline text that should wrap when it is too long
            to fit on one line in the item.
          </ion-item> -->
        </ion-list>
        <ion-list>
          <ion-list-header>
            New Messages
          </ion-list-header>

          <ion-item>
            Item
          </ion-item>

          <ion-item detail-push>
            Item with Detail Arrow
          </ion-item>

          <button ion-item (click)="buttonClick()">
            Button Item
          </button>

          <ion-item-divider>
            Item Divider
          </ion-item-divider>

          <button ion-item detail-none (click)="buttonClick()">
            Button Item with no Detail Arrow
          </button>

          <a ion-item href="https://www.ionicframework.com">
            Anchor Item
          </a>

          <ion-item no-lines>
            Item with no border
          </ion-item>

          <ion-item text-wrap>
            Multiline text that should wrap when it is too long
            to fit on one line in the item.
          </ion-item>
        </ion-list>
    </ion-col>
  </ion-row>
  <ion-row class="options">
    <ion-col col-4>
      <div class="icon">
        <!-- <ion-icon name="checkmark" (click)="openJobDescription();" class="check"></ion-icon> -->
      </div>
    </ion-col>
    <ion-col col-4>
      <div class="icon">
        <!-- <ion-icon name="close" class="close" (click)="closeModal();"></ion-icon> -->
      </div>
    </ion-col>
    <ion-col col-4>
      <div class="icon">
        <!-- <ion-icon name="star" class="star"></ion-icon> -->
      </div>
    </ion-col>
  </ion-row>
</ion-content>
